<!DOCTYPE html>
<html>
<head>
<title>ROK</title>

<link rel="stylesheet" href="//localhost:8080/rok.css" type="text/css" media="all" />

<!-- TODO make the server dynamic -->
<script src="//localhost:8080/jquery-2.1.0.min.js"></script>
<script src="//localhost:8080/jquery.json2html.js"></script>
<script src="//localhost:8080/jquery.color-2.1.2.min.js"></script>
<script src="//localhost:8080/json2html.js"></script>
<script src="//localhost:8080/ROKGame.js"></script>
<script src="//localhost:8080/ROKUtils.js"></script>
<script src="//localhost:8080/ROKClientGame.js"></script>
<script src="//localhost:8080/ROKLobby.js"></script>
<script src="//localhost:8080/ROKClientLobby.js"></script>

<script src="/socket.io/socket.io.js"></script>


<script type="text/javascript">

$(document).ready(function() {
  // Connect to the socket.
  socket = io.connect('http://localhost:3250');
  
  // Set up utilities
  utils = new ROKUtils();
  
  // Initialize the lobby of dev client v2.
  lobby = new ROKLobby();
  
  // Initialize the game of dev client v2.
  game = new ROKGame();

  // DEBUG  
  $('#log_lobby_state').click(function() {
    socket.emit("log_lobby_state");
  });
  // DEBUG  
  $('#log_game_state').click(function() {
    socket.emit("log_game_state");
  });
  $('#log_players_state').click(function() {
    socket.emit("log_players_state");
  });
  $('#quick_game').click(function() {
    socket.emit("quick_game");
  });
  $('#client_log_lobby_state').click(function() {
    console.log(utils.dump(lobby));
  });
  // DEBUG  
  $('#client_log_game_state').click(function() {
    console.log(utils.dump(game));
  });
  // End debug
});
</script>
</head>
<body>
<div id="debug">
  <h4>Debug</h4>
  <input id="log_lobby_state" type="button" value="Server lobby state"/>
  <input id="log_game_state" type="button" value="Server game state"/>
  <input id="log_players_state" type="button" value="Server players state"/>
  <input id="client_log_lobby_state" type="button" value="Client lobby state"/>
  <input id="client_log_game_state" type="button" value="Client game state"/>
  <input id="quick_game" type="button" value="Quick game"/>
  <hr/>
</div>

<!-- TODO dev client HTML - turn this into production HTML -->
<div id="wrap">
  <div id="messages"></div>
    
  <div id="lobby">
    <h2>Lobby</h2>
    <div id="welcome"></div>
    
    <div id="players">
      <table>
        <thead>
          <tr>
            <th>Name</th><th>Mode</th><th>Invited to game</th><th>In game</th>
          </tr>
        </thead>
        
        <tbody></tbody>
      </table>
    </div>
    
    <input id="new_game_button" type="button" value="New game"/>
    
    <input id="confirm_game_button" type="button" value="Start game" class="hidden" />
    
    <input type="button" value="Cancel game" id="cancel_game_button" class="hidden" />
  </div>


  <div id="monster_selection">
    <h2>Select monster</h2>
    <div id="monster_select_buttons"></div>
  </div>
  
  
  <div id="game" class="fivetosixx" tabindex="0">
    <h2>Game</h2>
    <table id="game_data">
      <tr>
        <th>game_state</th>
        <td id="game_state"></td>
      </tr>
      <tr>
        <th>turn_phase</th>
        <td id="turn_phase"></td>
      </tr>
      <tr>
        <th>turn_monster</th>
        <td id="turn_monster"></td>
      </tr>
      <tr>
        <th>next_input_from_monster</th>
        <td id="next_input_from_monster"></td>
      </tr>
      <tr>
        <th>monster_order</th>
        <td id="monster_order"></td>
      </tr>
      <tr>
        <th>this_monster</th>
        <td id="this_monster"></td>
      </tr>
      <tr>
        <th>winner</th>
        <td id="winner"></td>
      </tr>
    </table>
    
    <div id="log">
    </div>
    
    <table id="enemy_monsters">
      <tr>
        <th></th>
        <th>in_kyoto_city</th>
        <th>in_kyoto_bay</th>
      </tr>
    </table>
    
    <table id="own_monster">
      <tr>
        <th></th>
        <th>in_kyoto_city</th>
        <th>in_kyoto_bay</th>
      </tr>
    </table>
    
    <div id="map">
      <div id="ms1" class="monster_slot monster_home">
      </div>

      <div id="ms2" class="monster_slot monster_home">
      </div>

      <div id="ms3" class="monster_slot monster_home">
      </div>

      <div id="ms4" class="monster_slot monster_home">
      </div>

      <div id="ms5" class="monster_slot monster_home">
      </div>

      <div id="ms6" class="monster_slot monster_home">
      </div>
      
      <div id="mskc" class="monster_slot">
      </div>
      
      <div id="mskb" class="monster_slot">
      </div>
    
      <div id="m1" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__1__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_victory_points monster_stats">
          <div id="monsters__1__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_energy monster_stats">
          <div id="monsters__1__energy">0</div>
          <div class="monster_stats_bg"></div>
        </div>
      </div>
    
      <div id="m2" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__2__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_victory_points monster_stats">
          <div id="monsters__2__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_energy monster_stats">
          <div id="monsters__2__energy">0</div>
          <div class="monster_stats_bg"></div>
        </div>
      </div>
    
      <div id="m3" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__3__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_victory_points monster_stats">
          <div id="monsters__3__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_energy monster_stats">
          <div id="monsters__3__energy">0</div>
          <div class="monster_stats_bg"></div>
        </div>
      </div>
    
      <div id="m4" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__4__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_victory_points monster_stats">
          <div id="monsters__4__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_energy monster_stats">
          <div id="monsters__4__energy">0</div>
          <div class="monster_stats_bg"></div>
        </div>
      </div>
    
      <div id="m5" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__5__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_victory_points monster_stats">
          <div id="monsters__5__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_energy monster_stats">
          <div id="monsters__5__energy">0</div>
          <div class="monster_stats_bg"></div>
        </div>
      </div>
  
      <div id="m6" class="monster">
        <div class="monster_health monster_stats">
          <div id="monsters__6__health">10</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_victory_points monster_stats">
          <div id="monsters__6__victory_points">0</div>
          <div class="monster_stats_bg"></div>
        </div>
        
        <div class="monster_energy monster_stats">
          <div id="monsters__6__energy">0</div>
          <div class="monster_stats_bg"></div>
        </div>
      </div>
    
    </div>

    
  

    <div id="cards">
      <img id="card__0" src="http://localhost:8080/TODO_extra_head.jpg" />
      <img id="card__1" src="http://localhost:8080/TODO_extra_head.jpg" />

      <img id="card__2" src="http://localhost:8080/TODO_extra_head.jpg" />
      <img id="card__3" src="http://localhost:8080/TODO_extra_head.jpg" />
    </div>
    

    <div id="dice_area">
      <div id="dice">
        <div id="dice__0__value" data-die_id="0"></div>
        <div id="dice__1__value" data-die_id="1"></div>
        <div id="dice__2__value" data-die_id="2"></div>
        <div id="dice__3__value" data-die_id="3"></div>
        <div id="dice__4__value" data-die_id="4"></div>
        <div id="dice__5__value" data-die_id="5"></div>
        <div id="dice__6__value" data-die_id="6"></div>
        <div id="dice__7__value" data-die_id="7"></div>
      </div>
      
      <div>Roll number: <span id="roll_number"></span></div>

      <input type="button" value="Roll" id="roll_dice_button" disabled="disabled" />
      
      <!-- div id="roll_dice_button">Roll</div -->
    </div>
    
    
    

    <div id="game_dev">
      <input type="button" value="Done buying" id="done_buying_button" disabled="disabled" />
    
      <input type="button" value="Yield Kyoto city" id="yield_kyoto_city_button" disabled="disabled" />
      <input type="button" value="Stay in Kyoto city" id="stay_in_kyoto_city_button" disabled="disabled" />
      <input type="button" value="Yield Kyoto bay" id="yield_kyoto_bay_button" disabled="disabled" />
      <input type="button" value="Stay in Kyoto bay" id="stay_in_kyoto_bay_button" disabled="disabled" />
      <input type="button" value="Leave game" id="leave_game_button" disabled="disabled" />
    </div>
        
  </div>
</div>



</body>
</html>
