/* Production client confirmed CSS rules */
@font-face {
  font-family: cracked;
  src: url("http://localhost:8080/cracked.woff");
}

body {
  background: #fff;
  color: #333;
  font-size: 1em;
  font-family: helvetica, arial, sans-serif;
}

#wrap {
  width: 1024px;
  height: 600px;
  background: #aaa;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* TODO Style this nicer */
#messages {
  position: absolute;
  top: 30px;
  border: 1px solid #444;
  background: #fcc;
  padding: 5px;
  width: 500px;
  display: none;
}

#game {
  display: none;
}

#map,
#log,
#cards,
#dice_area {
  position: absolute;
  oopacity: 0.5;
}

#map,
#log {
  height: 480px;
}

#cards,
#dice_area {
  height: 120px;
  overflow: hidden;
}



#map {
  left: 0;
  top: 0;
  background-color: #6a4;
  background-image: url("http://localhost:8080/map.png");
  background-repeat: no-repeat;
  background-position: 0px 100px;
  z-index: 2;
  width: 520px;
  overflow: hidden;
}

#game.fivetosix #map {
  width: 800px;
}

#dice_area {
  width: 504px;
  background: #cca;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#dice {
  bbackground: #cc0;
  height: 60px;
  right: 30px;
  position: absolute;
  top: 0px;
  width: 440px;

}

#dice div,
#roll_dice_button {
  background: #caa;
  font-size: 1.6em;
  text-align: center;
}

#dice div {
  float: left;
  width: 45px;
  height: 45px;
  margin: 10px 5px 10px 5px;

}

#roll_dice_button {
  position: absolute;
  bottom: 10px;
  right: 35px;
  font-size: 0.8em;
  width: 160px;
  height: 40px;
}

#debug h4 {
  margin: 0;
}

/* end production client rules */

/* TODO dev client rules */






#game table {
  ddisplay: none;
  position: relative;
  z-index: 99999;
  border-collapse: collapse;
}

#game table td {
  border: 1px solid #ccc;
}

#monster_selection {
  display: none;
}



.monster_select_button.selected {
  border: 1px solid red;
}


div#dice div.die {
  height: 20px;
  width: 20px;
  text-align: center;
}

div#dice div.i {
  background: #888;
}

div#dice div.r {
  background: #cfc;
}

div#dice div.f {
  background: #ccf;
}

div#dice div.k {
  background: #fcc;
}

div#dice div.n {
  background: #222;
}

table#game_data {
  float: left;
}

div#log {
  background: #ccc;
  height: 200px;
  width: 350px;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
}

#game.fivetosix {
  width: 100px;
}

div#log p {
  margin: 0;
}

.monster_data.dead td {
  background: #aaa;
}

.hidden {
  border: 2px solid red;
  display: none;
}

/* TODO styles from layouts */


  



    


    div.monster_slot {
      ddisplay: none;
      position: absolute;
      width: 214px;
      height: 142px;
      bbackground: white;
      opacity: 0.35;
      background-image: url('http://localhost:8080/monster_slot.png');
      z-index: -1;
    }
    
    div.monster {
      ddisplay: none;
      position: absolute;
      width: 214px;
      height: 142px;
      background-image: url('http://localhost:8080/monster_frames.png');
      background-repeat: no-repeat;
    }
    
    .monster_slot {
      ddisplay: none;
    }

    #ms1 {
      left: 10px;
      top: 10px;
      bborder: 2px solid red;
    }

    #ms2 {
      display: none;
      left: 50%;
      margin: 0 0 0 -107px;
      top: 10px;
      bborder: 2px solid orange;
    }
    
    #game.fivetosix #ms2 {
      display: block;
    }

    #ms3 {
      right: 10px;
      top: 10px;
      bborder: 2px solid yellow;
    }

    #ms4 {
      left: 10px;
      bottom: 10px;
      bborder: 2px solid green;
    }
    
    #ms5 {
      display: none;
      left: 50%;
      margin: 0 0 0 -107px;
      bottom: 10px;
      bborder: 2px solid blue;
    }

    #game.fivetosix #ms5 {
      display: block;
    }

    #ms6 {
      right: 10px;
      bottom: 10px;
      bborder: 2px solid purple;
    }

    #mskc {
      left: 150px;
      top: 170px;
    }
  
    #mskb {
      display: none;
      right: 150px;
      top: 170px;
    }

    #game.fivetosix #mskb {
      display: block;
    }

    
    #m1 {
      background-position: 0 0;
    }
    #m1.active {
      background-position: -214px 0;
    }
    
    #m2 {
      background-position: 0px -142px;
    }
    #m2.active {
      background-position: -214px -142px;
    }
        
    #m3 {
      background-position: 0px -284px;
    }   
    #m3.active {
      background-position: -214px -284px;
    }
    
    #m4 {
      background-position: 0px -426px;
    }
    #m4.active {
      background-position: -214px -426px;
    }
    
    #m5 {
      background-position: 0px -568px;
    }
    #m5.active {
      background-position: -214px -568px;
    }
    
    #m6 {
      background-position: 0px -710px;
    }
    #m6.active {
      background-position: -214px -710px;
    }
 
    

    .monster_stats {
  
      padding: 2px;
      position: absolute;    
      font-family: cracked;
      font-size: 28px;
      bbackground: white;
      padding: 0;
      -webkit-transform-origin: 0% 50%;
    }

    
    .monster_health {
      top: 2px;
      left: 114px;
      transform: rotate(16deg);
      -webkit-transform: rotate(16deg);
    }
    
    .monster_victory_points {
      top: 27px;
      left: 61px;
      transform: rotate(-51deg);
      -webkit-transform: rotate(-51deg);
    }
    
    .monster_energy {
      top: 35px;
      left: 158px;
      transform: rotate(75deg);
      -webkit-transform: rotate(75deg);
    }
/*  
    
    #log {
      top: 0;
      right: 0;
      background: #caa;
      width: 504px;
      overflow-y: scroll;
    }
    
    #log p {
      font-size: 0.9em;
      margin: 0;
    }
    
    
    
    #cards {
      width: 276px;
      background: #aca;
      bottom: 0px;
      left: 244px;
    }
    
    #cards img {
      width: 56px;
      height: 84px;
      float: left;
      margin: 20px 0 0 10px;
    }
    

    
*/

#game_dev {
  ddisplay: none;
  position: relative;
  z-index: 2;
}

p#disconnected {
  font-size: 2em;
  text-align: center;
  padding-top:50px;
}