<!DOCTYPE html>
<html>
<head>
<title>ROK test 3 - dev client 3</title>

<link rel="stylesheet" href="//localhost:8080/dev2.css" type="text/css" media="all" />

<!-- TODO make the server dynamic -->
<script src="//localhost:8080/jquery-2.1.0.min.js"></script>
<script src="//localhost:8080/jquery.json2html.js"></script>
<script src="//localhost:8080/jquery.color-2.1.2.min.js"></script>
<script src="//localhost:8080/json2html.js"></script>
<script src="//localhost:8080/ROKGame.js"></script>
<script src="//localhost:8080/ROKUtils.js"></script>
<script src="//localhost:8080/ROKClientGame.js"></script>
<script src="//localhost:8080/ROKLobby.js"></script>
<script src="//localhost:8080/ROKClientLobby.js"></script>
<script src="//localhost:8080/dev_client_2_lobby.js"></script>

<script src="/socket.io/socket.io.js"></script>


<script type="text/javascript">

// TODO: Keyboard shortcuts for all possible actions
 
$(document).ready(function() {
  // Connect to the socket.
  socket = io.connect('http://localhost:3250');
  
  // Set up utilities
  utils = new ROKUtils();
  
  // Initialize the lobby of dev client v2.
  lobby = new ROKLobby();
  
  // Initialize the game of dev client v2.
  game = new ROKGame();

  // DEBUG  
  $('#log_lobby_state').click(function() {
    socket.emit("log_lobby_state");
  });
  // DEBUG  
  $('#log_game_state').click(function() {
    socket.emit("log_game_state");
  });
  $('#log_players_state').click(function() {
    socket.emit("log_players_state");
  });
  $('#quick_game').click(function() {
    socket.emit("quick_game");
  });
  $('#client_log_lobby_state').click(function() {
    console.log(utils.dump(lobby));
  });
  // DEBUG  
  $('#client_log_game_state').click(function() {
    console.log(utils.dump(game));
  });
  // End debug
});
</script>
</head>
<body>
<div class="debug">
  <h4>Debug</h4>
  <input id="log_lobby_state" type="button" value="Server lobby state"/>
  <input id="log_game_state" type="button" value="Server game state"/>
  <input id="log_players_state" type="button" value="Server players state"/>
  <input id="client_log_lobby_state" type="button" value="Client lobby state"/>
  <input id="client_log_game_state" type="button" value="Client game state"/>
  <input id="quick_game" type="button" value="Quick game"/>
  <hr/>
</div>

<div id="dev2">
  <div id="messages"></div>
    
  <div id="lobby">
    <h2>Lobby</h2>
    <div id="welcome"></div>
    <div id="players"></div>
    <input id="new_game" type="button" value="New game"/>
    <input id="confirm_game" type="button" value="Start game"/>
  </div>
  
  <div id="monster_selection">
    <h2>Select monster</h2>
    <div id="monster_select_buttons"></div>
  </div>
  
  <div id="game">
    <h2>Game</h2>
    <table id="game_data">
      <tr>
        <th>game_state</th>
        <td id="game_state"></td>
      </tr>
      <tr>
        <th>turn_phase</th>
        <td id="turn_phase"></td>
      </tr>
      <tr>
        <th>turn_monster</th>
        <td id="turn_monster"></td>
      </tr>
      <tr>
        <th>next_input_from_monster</th>
        <td id="next_input_from_monster"></td>
      </tr>
      <tr>
        <th>monster_order</th>
        <td id="monster_order"></td>
      </tr>
      <tr>
        <th>this_monster</th>
        <td id="this_monster"></td>
      </tr>
    </table>
    
    <div id="log">
    </div>
    
    <table id="enemy_monsters">
      <tr>
        <th></th>
        <th>health</th>
        <th>victory_points</th>
        <th>energy</th>
        <th>in_tokyo_city</th>
        <th>in_tokyo_bay</th>
      </tr>
    </table>
    
    <table id="own_monster">
      <tr>
        <th></th>
        <th>health</th>
        <th>victory_points</th>
        <th>energy</th>
        <th>in_tokyo_city</th>
        <th>in_tokyo_bay</th>
      </tr>
    </table>
    
    <table>
      <tr id="dice">
        <th>Dice</th>
        <td id="dice__0__value" data-die_id="0"></td>
        <td id="dice__1__value" data-die_id="1"></td>
        <td id="dice__2__value" data-die_id="2"></td>
        <td id="dice__3__value" data-die_id="3"></td>
        <td id="dice__4__value" data-die_id="4"></td>
        <td id="dice__5__value" data-die_id="5"></td>
        <td id="dice__6__value" data-die_id="6"></td>
        <td id="dice__7__value" data-die_id="7"></td>
        <th>Roll number</th>
        <td id="roll_number"></td>
      </tr>
    </table>
    
    <input type="button" value="Roll" id="roll_dice_button" disabled="disabled" />
    
    <input type="button" value="Done buying" id="done_buying_button" disabled="disabled" />
    
    <input type="button" value="Yield Kyoto city" id="yield_kyoto_city_button" disabled="disabled" />
    <input type="button" value="Stay in Kyoto city" id="stay_in_kyoto_city_button" disabled="disabled" />
    <input type="button" value="Yield Kyoto bay" id="yield_kyoto_bay_button" disabled="disabled" />
    <input type="button" value="Stay in Kyoto bay" id="stay_in_kyoto_bay_button" disabled="disabled" />
    
  </div>
</div>
</body>
</html>
