#dev2 {
  position: relative;
}

#messages {
  position: absolute;
  top: 30px;
  border: 1px solid #444;
  background: #fcc;
  padding: 5px;
  width: 500px;
  display: none;
}

#game {
  border: 1px solid blue;
  display: none;
}

#game table {
  border-collapse: collapse;
}

#game table td {
  border: 1px solid #ccc;
}

#monster_selection {
  display: none;
}

.debug h5 {
  margin: 0;
}

.monster_select_button.selected {
  border: 1px solid red;
}


tr#dice td {
  height: 20px;
  width: 20px;
  text-align: center;
}

tr#dice td.i {
  background: #888;
}

tr#dice td.r {
  background: #cfc;
}

tr#dice td.f {
  background: #ccf;
}

tr#dice td.k {
  background: #fcc;
}

tr#dice td.n {
  background: #222;
}

table#game_data {
  float: left;
}

div#log {
  background: #ccc;
  height: 200px;
  width: 350px;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
}

div#log p {
  margin: 0;
}