#dev2 {
  position: relative;
}

#dev2 .messages {
  position: absolute;
  top: 30px;
  border: 1px solid #444;
  background: #fcc;
  padding: 5px;
  width: 500px;
  display: none;
}

#dev2 .game {
  border: 1px solid blue;
  /*display: none; ?*/
}

#dev2 .game table {
  border-collapse: collapse;
}

#dev2 .game table td {
  border: 1px solid #ccc;
}

#dev2 .monster_selection {
  display: none;
}

.debug h5 {
  margin: 0;
}